// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
  background: url("bkg.png") no-repeat center center fixed;
  background-repeat:no-repeat;
  background-size:cover;
  height: 600px;
}
