// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: inline-block;
  margin: 0px 20px 10px 0px;
  width: 200px;
  padding: 10px;
  clear: both;
}

.photo-container {
  position: relative;
  height: 200px;
  list-style-type: none;
}

.user {
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 3;
  box-shadow: 1px 2px 2px;
}

.add {
  position: absolute;
  top: 162px;
  left: 4px;
  z-index: 4;
}

.venue {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.user-info {
  margin-top: 5px
}
