<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Wishlister</h3>
        </div>
        <div class="col-lg-6">
          <div class="text-right user-info">
            <% unless current_user %>
              <%= link_to image_tag("connect-blue.png", class: "foursquare-signin"), "http://foursquare.com/oauth2/authenticate?client_id=#{Rails.application.secrets['client_id']}&response_type=code&redirect_uri=http://localhost:3000/user_sessions/callback" %>
            <% else %>
              <%= image_tag current_user.photo_url, class: "img-rounded", width: 50 %>
              <p><%= "#{current_user.name} #{current_user.last_name}" %><br/><%= link_to "Sair", user_sessions_path, method: :delete %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% flash.each do |key, f| %>
        <div class="alert alert-<%= key %>">
          <%= f %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
